.suporte-container {
  max-width: 600px;
  display: flex;
  margin: 100px auto;
  background-color: #1f1f2e;
  padding: 30px;
  border-radius: 15px;
  min-height: calc(100vh - 100px);
  box-shadow: 0 0 20px rgba(0, 255, 81, 0.634);
  flex-direction: column;
  justify-content: center;
}
  
  .suporte-container h1 {
    text-align: center;
    color: #00ffcc;
  }

  .suporte-container p{
    color: #0bdbb5;
  }

  .suporte-container label{
    color: #e3fffa;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  input, textarea {
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #292940;
    color: white;
    resize: vertical;
  }
  
  button {
    background-color: #00ffcc;
    color: #000;
    border: none;
    padding: 12px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.5s ease;
  }
  
  button:hover {
    background-color: #00ff22a4;
  }
  
  #mensagem-status {
    margin-top: 15px;
    text-align: center;
    color: #00ffcc;
  }