/* Geral */
body {
    background: url('Omniverse.png') no-repeat center black;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

.menu {
    position: absolute;
    background-color: black;
    top: 20px;
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

button {
    padding: 10px 20px;
    background: #00950a;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
}

button:hover, button:focus {
    background-color: #007a0a;
    transform: scale(1.1);
    transition: background-color 0.3s, transform 0.2s;
}

button:active {
    background-color: #005f05;
    transform: scale(1);
}

* {
    touch-action: manipulation;
}

.omnitrix-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ring-overlay {
    position: absolute;
    width: 350px;
    height: 350px;
    background: url('bola_ominiverse.png') no-repeat center;
    background-size: contain;
    border-radius: 50%;
    pointer-events: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.selector-ring {
    position: relative;
    width: 350px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.character-slot {
    position: absolute;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
}

.character-slot img {
    width: 85px;
    height: 85px;
    object-fit: contain;
}

#prev-character {
    top: 30%; 
    left: 15%;
    transform: translate(-50%, -50%);
}

#current-character {
    top: 10%; 
    left: 50%;
    transform: translate(-50%, -50%) scale(1.6);
}

#next-character {
    top: 30%;
    right: 15%;
    transform: translate(50%, -50%);
}

.nav-buttons {
    position: absolute;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

button#prev, button#next {
    padding: 10px 20px;
    background: #00950a;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
}

footer {
    position: absolute;
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 14px;
    padding: 10px 0px;
    z-index: 10;
}

@media (max-width: 600px) {
    footer {
        bottom: -320px;
    }
}

@media (min-width: 601px) {
    footer {
        bottom: -260px;
    }
}

.footer-text {
    margin-bottom: 10px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    line-height: 1.5;
}

footer p {
    margin-top: 10px;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background-color: #2e2e2e;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #01d13b;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #00950a;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #00950a;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar:focus {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

@media (max-width: 600px) {
    ::-webkit-scrollbar {
        width: 8px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #01d13b;
    }
}

@media (min-width: 601px) {
    ::-webkit-scrollbar {
        width: 12px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #01d13b;
    }
}

.dialog {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(49, 169, 22, 0.8);
    border: 2px solid #31a916;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-size: 20px;
    box-shadow: 0 0 10px #31a916;
}

.dialog-content {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
}

.dialog button {
    background: #31a916;
    border: none;
    padding: 10px 20px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
}

.audio-controls {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 9999; /* Garante que fique acima de tudo */
}

.audio-controls button {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.audio-controls input[type="range"] {
    width: 100px;
    cursor: pointer;
    accent-color: #31a916;
}
